@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* @layer utilities {
  .active-category {
    @apply bg-blue-900 text-white;
  }
} */

/* @layer components {
  .link {
    @apply cursor-pointer hover:text-blue-900 active:text-blue-900;
  }
} */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@layer components {
  .button {
    background-color: rgba(10, 129, 171, 1);
  }
}
@layer utilities {
  .active-category {
    background-color: rgba(10, 129, 171, var(--tw-bg-opacity));
    color: white;
    /* Add any other styles to indicate the active category */
  }
}

@layer utilities {
  .border-ridge {
    border: 2mm ridge rgba(10, 129, 171, 0.6);
  }
}
@layer utilities {
  .hover-bg-blue-900:hover,
  .bg-blue-500 {
    background-color: rgba(10, 129, 171, 1);
  }
}

/* .border-2mm {
  border-width: 2mm;
}

.border-ridge {
  border-style: ridge;
} */

.border-black-300 {
  border-color: rgba(7, 5, 7, 0.9);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.glassmorphism {
  background-color: white;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.user-dropdown {
  position: relative;
}

.user-dropdown .dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.user-dropdown .dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-dropdown .dropdown-content button:hover {
  background-color: #f1f1f1;
}

/* @media only screen and (max-width: 780px) {
  .loader svg {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 780px) {
  .heightFix {
    min-height: calc(100vh - 200px);
    height: 100%;
  }
} */
