@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .active-category {
    @apply bg-blue-900 text-white;
  }
} */

@layer components {
  .link {
    @apply cursor-pointer hover:text-blue-900 active:text-blue-900;
  }
}

@layer utilities {
  .active-category {
    background-color: rgba(10, 129, 171, var(--tw-bg-opacity));
    color: white;
    /* Add any other styles to indicate the active category */
  }
}

@layer utilities {
  .hover-bg-blue-900:hover {
    background-color: rgba(10, 129, 171, 1);
  }
}

.border-2mm {
  border-width: 2mm;
}

.border-ridge {
  border-style: ridge;
}

.border-black-300 {
  border-color: rgba(7, 5, 7, 0.9);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}
